.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem {
    list-style-type: none;
    padding: 16px;
    border: 1px solid #00000039;
    
}

.itemNome b, .itemLanguage b {
    margin-right: 8px;
}

.itemLink {
    display: block;
    color: var(--corSecundaria);
    background-color: var(--corPrincipal);
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
}
